*, *:after, *:before {
    box-sizing: border-box;
    user-select: none;
}

a{
    color: $secondary;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    min-width: 100%;
    font-size: $font-size;
    background: $bgwhite;
}

@mixin button {
    
    border: 1px solid $border-button;
    font-weight: 600;
    text-transform: uppercase;
    font-size: $font-size;
    display: inline-block;
    transition: color, background-color 0.4s $ease;

    &:hover{
        background-color: $border-button;
        color: white;

    }
}

.upperheading{
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 !important;
}

h2{
    font-size: $font-size-large;
    font-weight: 300;
    color: $primary;
    margin-bottom: $pad-vert;
}

h3{
    font-size: $font-size-larger;
    font-weight: 300;
    color: $primary;
}

p{
    font-weight: 300;
    color: $bggray-light;
    line-height: $line-height-paragraph;
}

@include breakpoint(0, $mobile){
    body{
        font-size: $font-size-mobile;
    }

    h2{
        font-size: 28px;
    }

    h3{
        font-size: 22px;
    }

    .upperheading{
        font-size: 1rem;
    }
}