@include breakpoint(0, $mobile) {
    .burger{
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
        z-index: 200;
        & span{
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            background-color: $primary;
        }
    }
}

