@include breakpoint(0, $mobile) {
    .mobile-hidden{
        @include hidden;
    }

    .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $bggray;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100vw);
        transition: all 0.4s $ease;
        overflow: hidden;
        & ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
    }

    .menu-open{
        transform: translateX(0);
    }
    
}

@include breakpoint($desktop) {
    .desktop-hidden{
        @include hidden;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        li{
            font-weight: 300;
            &:not(:first-child) a{
                font-weight: 600;
                
                &:after{
                    content: '';
                    display: block;
                    width: 0%;
                    height: 2px;
                    margin-top: 5px;
                    background-color: $primary;
                    transition: width 0.5s $ease;
                }
                &:hover{
                    &:after{
                        width: 100%;
                    }
                }
            }
            &:first-child a {
                color: white;
                span{
                    font-weight: 600;
                }
            }
            &:nth-child(2) {
                margin-left: auto;
            }
        }
    }
    
    .hero-items{
        padding: 12rem 10rem 10rem 10rem;
        h1{
            font-size: $font-size-large;
            font-weight: 300;
            margin-bottom: 4rem;
            color: $primary;
        }
        & a.button{
            @include button;
            padding: $font-size 2rem;
            color: white;
    
        }
    }
}


