nav ul{
    font-weight: 300;
        li:first-child a {
        color: white;
        span{
            font-weight: 600;
        }
    }
}

header {
    padding: $pad-vert $pad-slim 16rem $pad-slim;
    margin-bottom: $section-pad;
    background-color: black;
    background-image: url('./images/hero_img.png');
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
}


@include breakpoint(0, $mobile) {
    .mobile-hidden{
        @include hidden;
    }

    header{
        padding: $pad-mobile $pad-mobile 8rem $pad-mobile;
        margin-bottom: $section-pad-mobile;
        background-position: right 0;
    }

    .menu{
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: $bggray;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(0vw);
        left: -100vw;
        transition: all 0.4s $ease;
        overflow: hidden;
        & ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
        }
    }

    .menu-open{
        transform: translateX(100vw) !important;
    }

    .hero-items{
        padding: 5rem 0 0 50%;
        h1{
            font-size: $font-size;
            font-weight: 300;
            margin-bottom: 2rem;
            color: $primary;
        }
        & a.button{
            @include button;
            font-size: $font-size-mobile;
            padding: calc($font-size/2) 1rem;
            color: white;
        }
    }
    
}

@include breakpoint($desktop) {
    .desktop-hidden{
        @include hidden;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        li{
            &:not(:first-child) a{
                font-weight: 600;
                
                &:after{
                    content: '';
                    display: block;
                    width: 0%;
                    height: 2px;
                    margin-top: 5px;
                    background-color: $primary;
                    transition: width 0.5s $ease;
                }
                &:hover{
                    &:after{
                        width: 100%;
                    }
                }
            }
            &:first-child a {
                color: white;
                span{
                    font-weight: 600;
                }
            }
            &:nth-child(2) {
                margin-left: auto;
            }
        }
    }
    
    .hero-items{
        padding: 12rem 10rem 10rem 10rem;
        h1{
            font-size: $font-size-large;
            font-weight: 300;
            margin-bottom: 4rem;
            color: $primary;
        }
        & a.button{
            @include button;
            padding: $font-size 2rem;
            color: white;
        }
    }
}


