main{
    display: flex;
    flex-direction: column;
    gap: $section-pad;
    margin-bottom: $section-pad;
}

section{
    padding: 0 $pad-slim 0 $pad-slim;
}


#about-me{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: $section-pad $pad-slim $section-pad $pad-slim;
    background-color: $bglight-orange;

    .about-image{
        flex: 1;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

   .about-content{
    flex: 1;
    padding: 2rem 0 2rem 0;    
    & a{
        @include button;
        color: black;
        padding: .6em 1em;
        margin-top: 1rem;
        }
    p {
        margin-bottom: 1rem;
        max-width: 37rem;
        width: 100%;
        }
    }
}

.news-carousell{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem; 
    overflow-y: auto;
    flex-wrap: nowrap;
}

article{
    display: flex;
    flex-direction: column;
    gap: $pad-slim;
    width: 36.5rem;
    min-width: 36.5rem;
    padding: 2rem 0 2rem 0;
    background-color: $bggray-ultralight;
    & h3{
        margin-left: 1rem;
    }
    & p{
        margin-left: 36px;
    }
    & a{
        @include button;
        align-self: flex-start;
        color: black;
        padding: .6em 1em;
        margin-left: 36px;
    }

    & img{
        object-fit: cover;
        height: 21rem;
        width: 100%;
    }
}


@include breakpoint(0, $mobile) {

    main{
        margin-bottom: $section-pad-mobile;
        gap: $section-pad-mobile;
    }
  .padded-section-mobile{
        padding: 0 $pad-mobile 0 $pad-mobile;
    }

    section{
        padding: 0;
    }

    #about-me{
        padding: $section-pad-mobile 0 $section-pad-mobile 0;
        flex-direction: column;

        .about-content{
            padding: 0 $pad-mobile 0 $pad-mobile ;
        }        
    }

    article{
        width: 100%;
        min-width: 24rem;
        & p{
            margin: 0 $pad-mobile 0 $pad-mobile;
        }

        & img{
            height: 13rem;
        }

        & a {
            margin-left: $pad-mobile;
        }
    }
}
