@mixin wscard {
    & .ws-card-content {
        background-color: $bggray-light;
        padding: 2rem;
    }

    & p {
        color: white;
    }
}


#workshops {

    display: flex;
    flex-direction: column;
    gap: 2rem;

    & .ws-card {
        @include wscard;
    }
}

@include breakpoint(0, $mobile) {
    #workshops {}
}

@mixin wsquote {
    width: 55%;
    height: 55%;
    object-fit: contain;
    position: absolute;
}

@include breakpoint($desktop) {

    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .ws-card:first-child {
            align-self: flex-end;
        }

        .ws-card:last-child {
            align-self: flex-start;
        }
    }

    .ws-card {
        display: flex;
        flex-direction: row;
        width: 70%;
        height: 20rem;


        .ws-card-content {
            display: flex;
            flex-direction: row;
            gap: 2.5rem;

            & .ws-description {
                flex: 2;
                flex-direction: column;
                gap: 2rem;
                width: 100%;

                p {
                    padding: $pad-slim/2 0 0 0;
                    line-height: 1.75rem;
                }

                & a {
                    @include button;
                    color: white;
                    padding: 1rem 1.5rem;
                    margin-top: 1rem;
                }
            }

            & .ws-icon {
                width: 100%;
                height: 100%;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                & .icon-bg {
                    background-color: #595959;
                    padding: 2rem;
                    border-radius: 50%;

                    img {
                        scale: 0.8;
                    }
                }
            }
        }

        .quote-container {
            flex: 1;
            width: 100%;
            height: 100%;
            position: relative;

            &.layout-1 {
                img {
                    @include wsquote;
                    bottom: 0;
                    right: 0;
                }
            }

            &.layout-2,
            &.layout-3 {
                display: flex;
                flex-direction: column-reverse;

                img {
                    @include wsquote;
                    top: 0;
                    right: 0;
                }
            }

            blockquote {
                font-size: $font-size-larger;
            }
        }

        span {
            font-size: 300px;
            font-weight: 600;
            color: $bggray-light;
            display: inline-block;
            position: absolute;
        }
    }
}